*{padding:0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;}
    .topnav {
    background-color: lightsalmon;
    overflow: hidden;
    position: sticky;
    top: 0;
    width: 100%;
      }

      
.topnav a {
         float:left;
         color: rgb(253, 238, 236);
         text-align: center;
         padding: 14px 16px;
         text-decoration: none;
         font-size: 17px;

      }
.topnav.a.active {
    background-color: darksalmon;
    
}
.topnav a:hover {
    background-color: lightcoral;
    color: rgb(250, 219, 207);
  }
.cadastro{
    text-align: center;
    color: lightsalmon;
    margin-top: 40px;
    font-size: 30px;

}
.cadastro-box{
    background-color: rgb(250, 219, 207);
    color: lightsalmon;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    margin-left: 500px;
    margin-right: 500px;
    margin-top: 50px;
    margin-bottom:30px;
    border-radius: 10px;
    font-size: 30px;
}
.cadastre-se{
    text-align: center;
    
}
.bt{
    border:thick;
    background-color: darksalmon;
    color:rgb(250, 219, 207);
    border-radius: 4px;
    font-size: 20px;
    margin-bottom: 40px;
    text-decoration:none;
    cursor: pointer;
    padding:6px 10px;
}
